body,html {
    padding: 5px;
    margin: 5px;
  }


/* number of columns and rows determined inline (grid-template-rows & columns) 
when user enters garden dimensions */
.wrapper {
    display:grid;
    /* grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 100px); */
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    background-color: rgba(0,0,0,0);
}

/* //set media breakpoints fr = fraction */
@media (min-width: 600px) {
    .wrapper {
      grid-template-columns: repeat (2, 1fr);
    }
  }

.plot {
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 13px;
    color: white;
    line-height: 1;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 5px;
  }


.plot:nth-child(odd) {
  background-color: #8C8627;
}

.plot:nth-child(even) {
  background: #403C01;
}

  #gardenBox {
    text-align: left;
  }

.fixedBox {
  max-height: 70px;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  /* text-align: bottom; */
  overflow: hidden;
}



