td {  
    width: 100px;
    overflow-wrap: normal;
    font-size: small;
    
}

th {
    font-size: medium;
    color: green;
    text-align: center;
}

#plantList {
    table-layout: fixed;
    border: 1px solid lightgreen;
    border-color: lightgreen;
    overflow-x: scroll;
    overflow-y: scroll;
}


.scrollbar {
  position: relative;
  height: 600px;
  overflow: auto;
  }

.table-wrapper-scroll-y {
  display: block;
  border: 1px solid lightgreen;
  }
