#gardenList {
    box-sizing: border-box;
    max-width: 300px;
    max-height: 500px;
    border-style: solid;
    border-color: lightgreen;
    padding: 20px;
    margin: 20px;
    overflow-y: scroll;
}
